@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme{
  --color-verde-claro: #7A9B4D;
  --color-laranja: #F57C1F;
  --color-laranja-hover: #FF913C;
  --color-verde-escuro: #2C4A2E;
  --font-inter: "Inter", sans-serif;
}

@layer base{
  form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  form input[type="email"], input[type="password"], input[type="text"]{
    width: 100%;
    height: 50px;
    border: 2px solid var(--color-laranja);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    transition: .2s;
  }
 
  form input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus{
    outline: none;
    box-shadow: 0px 0px 0px 3px var(--color-laranja);
  }
  
  form button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-laranja);
    margin-top: 10px;
    color: white;
    font-weight: bold;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  form button:hover{
    background-color: var(--color-laranja-hover);
    cursor: pointer;
  }

  form i{
    transition: .2s;
  }

  form button:hover i{
    transform: translateX(5px);
    
  }

  form input[type="checkbox"]{
    accent-color: var(--color-laranja);
    color: white;
  }

.btn-google {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
    cursor: pointer;
  }

  .btn-google:hover {
    background-color: #e0e0e0;
  }


  @media (width >= 48rem /* 768px */) {
    form{
      width: 70%;
    }
  }

@media (width >= 64rem /* 1024px */){
    form{
      width: 50%;
    }
  }

  @media (width >= 80rem /* 1280px */) {
    form{
      width: 35%;
    }
  }
  
}